<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Deckapp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Deckapp.Properties.Settings>
            <setting name="FaderValues" serializeAs="String">
                <value> | | | </value>
            </setting>
            <setting name="ButtonsPaths" serializeAs="String">
                <value> | | | | | | | | | | | |</value>
            </setting>
        </Deckapp.Properties.Settings>
    </userSettings>
</configuration>